@font-face {
  font-family: atmospheric;
  src: url("../fonts/aAtmospheric.ttf");
}

.neoh_fn_services ul {
  display: flex;
  justify-content: center;
  text-align: center;
}
.neoh_fn_services .sn_glimp_head {
  font-size: 3.3rem;
}
.sn_exp {
  color: #252525;
}
.sn_exp:hover {
  color: #78f701;
}
.item_content {
  min-height: 290px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.investerUl {
  display: flex;
  justify-content: center;
}

.neoh_fn_investor li {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 4rem;
}
.theme {
  color: #78f701;
}

@media (max-width: 800px) {
  .neoh_fn_investor li {
    margin-right: 0rem;
    margin-left: 0rem;
    margin-bottom: 2rem;
    min-width: 250px;
    width: 100vw;
  }
  #services {
    margin: 0.5rem !important;
  }
}

.Heading {
  font-size: calc(1.575rem + 2.8vw) !important;
  letter-spacing: 0.25rem;
  font-family: atmospheric;
}
.InvesterHeading {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

#investor {
  padding-top: 1px !important;
}

.item_content {
  background-color: rgba(165, 163, 163, 0.459);
}

/* #services {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
} */

#services {
  margin: 7rem;
  background-color: rgba(64, 60, 60, 0.28);
  border: 5px transparent;
  border-radius: 41px;
}

.atmosphere {
  font-family: atmospheric !important;
}
.landingHead{
  max-width: none !important;
  font-size: 5rem !important;
  letter-spacing: 1rem !important;

}
.hero_content{
  justify-content: flex-end !important;
}

.bg_image{
  z-index: 2 !important;
}