canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -999;
  width: 150vw !important;
  height: 150vh !important;
  margin: -7rem;
}

#canvas-club {
  height: 135vh !important;
  width: 100vw !important;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-height: 100vh !important;
}


@media (max-width: 800px) {
  canvas {
    margin: 0rem !important;
  }
}

@media (max-width : 460px) {
  #canvas-club {
    height: 160vh !important;
  }
  .HeadH3Res{
    font-size: 2.4rem !important;
  }

}